{% extends "base.html" %}

{% block body %}
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}

            <p>
                Enter Title: <br>
                {{ form.title(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                Enter Explanation: <br>
                {{ form.explanation(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.explanation.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                
                {{ form.question(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.question.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>


             <p>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">






<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


                {{form.submit()}}
            </p>
        </form>
       
{% endblock %}
