<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">


<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p> At first I didn't know what I shoulve made my app about so I went on brainstorming a lot of basic ideas and then the idea of making a finance app came in mind when I saw a book I had talked about finance
            .</p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


    <div class="col-5 me-5 mb-5 border border-5">
        <p></p>
        <h1 class="display-6 text-center">Purpose</h1>
        <p>Being broke is not fun and being homeless is worse basically having money is good so I wanted to help people get better with their spending habit and by making my app about finance I can accomplish that and give random advice
        </p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


            <div class="container text-center border border-5 ">
                <h1 class="display-4 container text-center">About Me and N.A.V.O</h1>
        <p>My name is Nathan Vo and the website I made which I named "The N.A.V.O Site" stands for "The Not A Very Outstanding Site". I decided to make my website about finance because I thought it was an important topic that lots of people think about and I have been curious about the topic as well. A little about me is that I'm a senior at Oakland Technical Highschool and I'm chronically addicted to ramen </p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

        <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

        
</div>

                


 



{% endblock %}